/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

body {
    position: relative;
    margin: 0;
    padding: 0;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container.fl-content-full .fl-content {
    margin: 0;
    padding: 0;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 119px;
    padding: 5px 20px;
}


/* blog */

body.blog .fl-post .fl-post-image-beside {
    float: none;
}


/* blog */


/* .advSearchBox{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
} */

.header-phone .storename {
    display: inline-block !important;
    margin: 0 0 0 5px;
}

.header-phone p {
    margin: 0;
    display: inline-block;
}

header .fl-icon i.ua-icon.ua-icon-search {
    cursor: pointer;
}

.topbar .fl-module-rich-text .fl-rich-text p {
    margin: 0;
}

.category-row .fl-row-content .fl-col-group .fl-col:not(.fl-visible-medium-mobile) {
    width: 33.33%;
}

.gform_wrapper#gform_wrapper_5 .top_label li.gfield.gf_left_half+li.gfield {
    padding-right: 0px !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour {
    position: relative;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour,
.gform_wrapper ul.gform_fields li.gfield .gfield_time_minute {
    text-align: center;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour label,
.gform_wrapper ul.gform_fields li.gfield .gfield_time_minute label {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    position: relative;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_minute label {
    left: -5px;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_hour i {
    margin-top: 0px !important;
    position: absolute;
    bottom: 1px;
    right: -2px;
}

ul.sub-menu .uabb-menu-toggle {
    transform: rotate(-90deg) translate(-5px, 5px);
    -webkit-transform: rotate(-90deg) translate(-5px, 5px);
    -moz-transform: rotate(-90deg) translate(-5px, 5px);
    -o-transform: rotate(-90deg) translate(-5px, 5px);
    -ms-transform: rotate(-90deg) translate(-5px, 5px);
}

.active-gallery-modal .fl-row-content-wrap>.row {
    flex-wrap: nowrap;
}

.active-gallery-modal .product-box a.fl-button {
    border-radius: 0px !important;
    background: #338e8e;
    border: 1px solid #338e8e;
}

.active-gallery-modal .product-box a.fl-button:hover,
.active-gallery-modal .product-box a.fl-button:focus,
.active-gallery-modal .product-box a.fl-button:active {
    background: #606060;
    border: 1px solid #606060;
}

.gform_wrapper .top_label input.large.datepicker,
.gform_wrapper .top_label input.medium.datepicker,
.gform_wrapper .top_label input.small.datepicker {
    width: 100% !important;
}

.uabb-gf-style .gform_wrapper .gfield select,
.uabb-gf-style .gform_wrapper .gfield select option {
    color: #323232 !important;
}

.gform_wrapper ul.gform_fields li.gfield {
    padding-right: 16px !important;
}

.gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error {
    margin-top: 16px !important;
}

.gform_wrapper ul.gform_fields li.gfield .ginput_container_checkbox .gfield_checkbox li label:before {
    border: 1px solid #ccc;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm {
    max-width: 75px;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
    max-width: none !important;
    width: 100% !important;
}

.uabb-infobox-title-wrap .googlekeyword {
    color: #fff;
}

input[type='checkbox']+label:before {
    border-radius: 0px!important;
}

ul.social-icons li {
    padding: 20px!important;
}

.button-wrapper .getcoupon-btn:hover {
    background-color: #338e8e!important;
    color: #fff!important;
    border: 1px solid #338e8e;
}

.uabb-image-carousel .slick-arrow,
.uabb-image-carousel .slick-arrow:hover {
    background-color: transparent!important;
}

.uabb-image-carousel .slick-arrow i:before {
    color: #000!important;
}

.button-wrapper a.button:hover {
    border: 1px solid #000;
}

@media (max-width:1366px) {
    .container {
        width: 1280px;
        max-width: 95%;
    }
}

@media (max-width:1080px) {
    #djcustom-header .fl-builder-content .fl-row .fl-col-group-equal-height {
        flex-direction: row-reverse;
        position: relative;
    }
    #djcustom-header .fl-builder-content .fl-row .fl-col-group-equal-height>.fl-col:nth-child(2) {
        display: none;
    }
    #djcustom-header .fl-builder-content .fl-row .fl-col-group-equal-height>.fl-col:first-child {
        width: 95%;
    }
    #djcustom-header .fl-builder-content .fl-row .fl-col-group-equal-height>.fl-col:last-child {
        width: 5% !important;
        position: absolute;
        top: 50%;
        left: 0px;
        z-index: 9;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    #djcustom-header .fl-module-uabb-photo .uabb-module-content {
        text-align: center;
        padding-right: 7%;
    }
    #djcustom-header .fl-module-uabb-photo .uabb-photo-content .uabb-photo-img {
        max-height: 65px;
    }
    #djcustom-header .fl-builder-content .fl-row .fl-module {
        text-align: left;
    }
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
        line-height: normal;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .fl-module-info-banner .uabb-module-content .uabb-text-editor h3 {
        font-size: 21px;
    }
}

@media (max-width:992px) {
    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    .align-center .uabb-module-content {
        text-align: center !important;
    }
    .active-gallery-modal .col .fl-button,
    .active-gallery-modal .col .button {
        margin: 0 auto;
    }
    .product-attributes h3 {
        text-align: left;
    }
    .product-attributes table td {
        width: 60%;
    }
    .product-attributes table th {
        width: 40%;
    }
    .product-attributes table td,
    .product-attributes table th {
        text-align: left;
    }
}

@media (max-width:768px) {
    .fl-module-content-slider .fl-slide .fl-slide-content:empty {
        display: none;
    }
    .fl-module-content-slider .fl-content-slider .fl-slide-photo-wrap .fl-slide-photo {
        margin-top: 60px;
    }
    #product-list-top-filters+.fl-row>.fl-row-content-wrap .fl-col-group>.fl-col {
        width: 100% !important;
    }
}

@media (max-width:767px) {
    .fl-page-header {
        border-bottom: 1px solid #ce1d00;
    }
    .fl-col-small {
        max-width: 100%;
    }
    button#responsive-menu-button {
        top: 60px !important;
        right: 5px !important;
    }
    #djcustom-header .fl-module-uabb-photo .uabb-module-content {
        padding: 0 55px;
    }
    #djcustom-header .fl-builder-content .fl-row .fl-col-group-equal-height>.fl-col:last-child {
        left: 15px;
    }
    .topbar .fl-col-group>.fl-col:last-child {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

@media (max-width:540px) {
    .fl-row-bg-video .fl-bg-video video {
        transform: scale(1.25);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        -ms-transform: scale(1.25);
    }
}

@media (max-width:500px) {
    .product-box a.fl-button {
        width: 100%!important;
    }
    .quality-family-best-wrap .uabb-list-icon-wrap {
        width: 60%!important;
        display: block;
        margin: 10px 0px!important;
    }
    .logo .uabb-photo-content .uabb-photo-img {
        width: 70%;
    }
}